@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Source+Code+Pro:wght@500&display=swap');
:root {
    --primary-color: #3b82f6 ;
    --secondary-color: #dbeafe;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 100;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.dash-board-header {
    background-color: white;
    width: 85vw;
    height: 20vh;
    display: grid;
    grid-template-columns: 60vw 25vw;
    padding: 20px;
}
.header-input {
    height: 30px;
    background-color: #dbeafe;
    width: 50vw;
    border: none;
    border-radius: 20px;
}
.header-left-top{
    display: flex;
    gap: 10px;
}
.header-left-bottom{
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
    gap: 20px;
}
.header-image {
    border-radius: 50%;
    height: 50px;
}
.header-svg{
    height: 30px;
}
.header-right{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.header-right-top{
    display: flex;
    gap: 20px;
    align-items: center;
}
.header-right-bottom {
    display: flex;
    gap: 10px;
}
.header-right-button{
    background-color: var(--primary-color);
    border: none;
    height: 40px;
    width: 100px;
    color: white;
    border-radius: 20px;
}
.header-right-button:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.dash-board-aside {
    background-color: #3b82f6;
    height: 100vh;
    width: 15vw;
    grid-column: 1;
    grid-row: 1 / span 2;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 100px;
    font-weight: 400;
    font-style: bold;
}



.aside-tittle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 130px;
    margin-left: 10px;
    margin-top: 10px;
}
.aside-title-svg {
    fill: white;
    height: 50px;

}
.aside-main-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 130px;
    margin-left: 10px;
}
.aside-main-svg {
    fill: white;
    height: 30px;
}

.aside-footer-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 130px;
    margin-left: 10px;
}
.aside-footer-svg {
    fill: white;
    height: 30px;
}


.dash-board-main {
    background-color: #dbeafe;
    width: 85vw;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#your-projects-header {
    grid-column: 1 / span 2;
    
    
}

.main-card {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border-left: #0891b2 solid 10px;
    display: grid;
    grid-template-columns: 1fr;
}

.main-card-footer {
    display: flex;
    justify-content: end;
}

.card-svg {
    height: 20px;
    margin: 10px;
}

.main-aside {
    grid-column: 3;
    grid-row: 2 / span 3;
    
   
}

.main-aside-announcements {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    
}

.main-aside-trending{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr;
    height: 200px;

}

.trending-item {
    display: grid;
    grid-template-columns: 40px 150px;
    width: 150px;
}

.trending-item {
    height: 20px;
}

.trending-img {
    border-radius: 50%;
    height: 30px;
}