@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Source+Code+Pro:wght@500&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 100;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.dash-board-header {
    background-color: white;
    width: 85vw;
    height: 20vh;
}

.dash-board-aside {
    background-color: blue;
    height: 100vh;
    width: 15vw;
    grid-column: 1;
    grid-row: 1 / span 2;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 100px;
    font-weight: 400;
    font-style: bold;
}



.aside-tittle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 130px;
    margin-left: 10px;
    margin-top: 10px;
}
.aside-title-svg {
    fill: white;
    height: 50px;

}
.aside-main-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 130px;
    margin-left: 10px;
}
.aside-main-svg {
    fill: white;
    height: 30px;
}

.aside-footer-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 130px;
    margin-left: 10px;
}
.aside-footer-svg {
    fill: white;
    height: 30px;
}


.dash-board-main {
    background-color: aqua;
    width: 85vw;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#your-projects-header {
    grid-column: 1 / span 2;
    
    
}

.main-card {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border-left: blue solid 10px;
    display: grid;
    grid-template-columns: 1fr;
}

.main-card-footer {
    display: flex;
    justify-content: end;
}

.card-svg {
    height: 20px;
    margin: 10px;
}

.main-aside {
    grid-column: 3;
    grid-row: 2 / span 3;
    
   
}

.main-aside-announcements {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    
}

.main-aside-trending{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr;
    height: 200px;

}

.trending-item {
    display: grid;
    grid-template-columns: 40px 150px;
    width: 150px;
}

.trending-item {
    height: 20px;
}

.trending-img {
    border-radius: 50%;
    height: 30px;
}